{% extends "page_structure.html" %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="stylesheets/condition.css" />
{% endblock %}

{% block content %}
<h2>Conditions d'utilisation du service Stan Ton Meuble</h2>

<h4>Nous vous remercions de prendre connaissance des conditions d’utilisation du service Stan ton meuble et de les valider avant de déposer votre annonce sur le site.</h4>

<h5>Objets des annonces</h5>

<p>La rubrique des petites annonces est un service gratuit de "Stan Ton Meuble" qui permet à toute personne de déposer en ligne une annonce dont l’objet doit nécessairement être du mobilier ou de loisir à céder gratuitement. Ce site fonctionne de manière totalement démonétisée.</p>

<p>Ce service est uniquement réservé aux étudiants de Nancy, toutes filières confondues possédant une carte étudiante, carte clé de l’Université de Lorraine de Nancy.</p>

<h5>Accès et modalités d’inscription</h5>

<p>Après avoir pris connaissance des présentes conditions et les avoir acceptées, vous pourrez vous inscrire en indiquant :
<ul>
  <li>votre nom</li>
  <li>votre prénom</li>
  <li>votre numéro de carte étudiante</li>
  <li>votre email (qui sera visible de tous les utilisateurs)</li>
  <li>votre mot de passe</li>
  <li>votre numéro de téléphone (qui peut si vous le désirer être masqué des autres utilisateurs)</li>
</ul>
</p>

<h5>Droits et devoir du déposant</h5>

<p>
<ul>
  <li>Avant le dépôt de chacune de vos annonces, vous devez vous assurer que les informations qui y sont contenues respectent les dispositions légales et réglementaires en</li> vigueur, le droit des tiers (notamment le droit de propriété intellectuelle, le droit à la vie privée etc…) et la ligne éditoriale du site "Stan Ton Meuble". A défaut, "Stan Ton Meuble" se réserve le droit de ne pas publier l’annonce déposée, sans avoir besoin de justifier ce refus de publication.
  <li>Une photo est nécessaire pour chaque annonce déposée afin de permettre à l’étudiant intéressé par votre bien de pouvoir juger son état général.</li>
  <li>"Stan Ton Meuble" est un site de don de mobilier ou équipement de loisirs. Le bien faisant l’objet d’une annonce ne peut en aucun cas faire l’objet d’une vente.</li>
  <li>Vous êtes responsable du contenu des annonces que vous déposez et qui seront le cas échéant publiées, et garantissez "Stan Ton Meuble" contre toute revendication de tiers à</li> ce titre. Dès lors, Stan ton meuble se réserve le droit de supprimer, à tout moment et à la demande expresse des tiers concernés, les annonces ne respectant pas les conditions du présent article.
  <li>Stan ton meuble n’intervient pas dans les relations entre les utilisateurs du service des annonces et ne saurait en aucun cas voir sa responsabilité engagée dans ce cadre.</li>
  <li>"Stan Ton Meuble" prévoit une gestion automatique des annonces. Si celles si ne sont pas gérer au bout d'un moi, le site les supprimera automatiquement.</li>
</ul>

<h5>Modération</h5>
<p>Le modérateur se réserve unilatéralement le droit de ne pas publier les annonces qui ne respectent pas les dispositions visées dans les présentes conditions d’utilisation. Toutefois, le modérateur ne contrôle pas l’authenticité des informations diffusées dans les petites annonces, ce contrôle relevant de la seule responsabilité des déposants. Par conséquent, "Stan Ton Meuble" ne saurait être responsable du contenu des petites annonces.
</p>

<h5>Destination des données personnelles et des informations publiées</h5>

<p>Les données personnelles et les informations contenues dans les annonces sont utilisées dans le but exclusif de permettre la diffusion desdites annonces sur le site. Ces données ne sont ni transmises, ni cédées, ni louées à des tiers. Les annonces publiées ne seront plus accessibles sur le site à l’expiration du délai de publication qui est de un moi.</p>

<h5>Droit d’accès, de rectification et de retrait</h5>

<p>Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, d’opposition, de rectification et de retrait de toute donnée personnelle. Vous pouvez exercer ces droits en accédant directement à votre compte, créé lors de votre enregistrement. Vous avez ainsi accès à ou aux annonces que vous avez déposées et pouvez à tout moment les modifier ou les retirer.</p>

{% endblock %}