{% extends "page_structure.html" %}

{% block currentTitle %}{% if ad %}Editer{% else %}Créer{% endif %} une annonce{% endblock %}

{% block content %}
  <h2>{% if ad %}Editer{% else %}Créer{% endif %} une annonce</h2>
  <form method="POST" enctype="multipart/form-data">
      {% if failed %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Erreur :</span>
          Veuillez vérifier vos informations {% if failed.error_image %} - Une erreur est survenue avec l'image{%endif %}
        </div>
      {% endif %}
      <div class="form-group {% if failed.error_title %}has-error{% endif %}">
        <label for="title">Nom du bien</label>
        <input type="text" class="form-control" value="{% if failed %}{{failed.title}}{%else%}{{ ad.title}}{%endif%}" name="title"/>
      </div>
      <div class="form-group {% if failed.error_info %}has-error{% endif %}">
        <label for="info">Informations :</label>
        <textarea name="info" id="info" class="form-control" rows="3">{% if failed %}{{failed.info}}{%else%}{{ ad.info }}{%endif%}</textarea>
      </div>
      <div class="form-group {% if failed.error_category %}has-error{% endif %}">
        <label for="category">Catégorie</label>
        <select class="form-control" name="category">
          {% for category in categories %}
            <option value="{{forloop.counter0}}" {% if ad.category == forloop.counter0 %}selected{% endif %}>{{category}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group {% if failed.error_image %}has-error{% endif %}">
        {% if ad %}
          L'image n'est pas éditable.
        {% else %}
          <label for="file">Photo</label>
          <input type="file" name="file" />
        {% endif %}
      </div>
      <div class="submitBlock">
        <button class="btn btn-blue" type="submit" name="action">{% if ad %}Editer{% else %}Créer{% endif %} l'annonce</button>
      </div>
  </form>
</div>
{% endblock %}