{% extends "page_structure.html" %}

{% block currentTitle %}{% if ad %}Editer{% else %}Créer{% endif %} une annonce{% endblock %}

{% block head %}
  {{ block.super }}

   {% if not ad %}
    <style>
      #imgUpload {
        cursor: pointer;
      }
    </style>
   {% endif %}
{% endblock %}


{% block script %}
  {{ block.super }}
  <script>
   {% if ad %}
    $(function() {
      $('#removeModal').on('show.bs.modal', function (event) {
        console.log("moi");
        var button = $(event.relatedTarget) 
        var recipient = button.data('idad')
        var modal = $(this)
        console.log("pouet");
        console.log(recipient);
        modal.find('a').attr("href", "/delete/" + recipient);
      });
    });
    {% else %}
    $("#imgUpload").click(function() {
      $("input[id='my_file']").click();
    });
    $("input[id='my_file']").change(function() {
        $("#photoName").text($(this).val())
    });
    {% endif %}
  </script>
{% endblock %}


{% block content %}
  <h2>{% if ad %}Editer{% else %}Créer{% endif %} une annonce</h2>


  {% if ad %}

  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">uppression d'une annonce</h4>
        </div>
        <div class="modal-body">
          Etes-vous sûr de vouloir supprimer cette annonce ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <a href="/delete/"class="btn btn-danger">Confirmer</a>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  <form method="POST" enctype="multipart/form-data">
      {% if failed %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Erreur :</span>
          Veuillez vérifier vos informations {% if failed.error_image %} - Une erreur est survenue avec l'image{%endif %}
        </div>
      {% endif %}
      <div class="form-group {% if failed.error_title %}has-error{% endif %}">
        <label for="title">Nom du bien</label>
        <input type="text" class="form-control" value="{% if failed %}{{failed.title}}{%else%}{{ ad.title}}{%endif%}" name="title"/>
      </div>
      <div class="form-group {% if failed.error_info %}has-error{% endif %}">
        <label for="info">Informations :</label>
        <textarea name="info" id="info" class="form-control" rows="3">{% if failed %}{{failed.info}}{%else%}{{ ad.info }}{%endif%}</textarea>
      </div>
      <div class="form-group {% if failed.error_category %}has-error{% endif %}">
        <label for="category">Catégorie</label>
        <select class="form-control" name="category">
          {% for category in categories %}
            <option value="{{forloop.counter0}}" {% if ad.category == forloop.counter0 %}selected{% endif %}>{{category}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group {% if failed.error_image %}has-error{% endif %}">
        {% if ad %}
          L'image n'est pas éditable.
        {% else %}
          <label for="file">Photo</label>
          <img id="imgUpload" src="/stylesheets/photo.png" width="60px" style="vertical-align: middle;"/>
          <input type="file" name="file" id="my_file" style="display: none;" />
          <span id="photoName"></span>
        {% endif %}
      </div>
      <div class="submitBlock">
        <button class="btn btn-blue" type="submit" name="action">{% if ad %}Editer{% else %}Créer{% endif %} l'annonce</button><br />
        {% if ad %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal" data-idad="{{ad.key.urlsafe}}">Supprimer l'annonce</button>
{%endif %}
      </div>
  </form>
</div>
{% endblock %}