{% extends "page_structure.html" %}

{% block content %}
<h2>Mot de passe oublié</h2>
<div class="row">
  <form class="form col-md-6 col-md-offset-3" action= "/forget" method="POST">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control"  value="{{ username }}" name="username"/>
      </div>
      <div class="submitBlock">
        <button type="submit" class="btn btn-blue">M'envoyer un email</button>
      </div>
    </form>
</div>
<div class="text-center">
  <a href="/login">Se connecter ?</a> / <a href="/signup">S'inscrire ?</a>
</div>
{% endblock %}
