{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="stylesheets/home.css" />
{% endblock %}
{% block body %}
  <div class="valign-wrapper">
      <div id="content" class="valign center-align">
        <h1>SWOP IT.</h1>
        <h3>L'argent n'existe pas ici, seul le partage règne !</h3>
        <p>Ne vous prenez plus la tête pour meubler votre appartement, ou vous faire des petits plaisirs, sur SWOPIT tout est possible</p>
        <div class="row">
          <div class="col s6">
            <a href="signup" class="z-depth-5 waves-effect waves-light btn-large">S'inscrire</a>
          </div>
          <div class="col s6">
            <a href="login" class="z-depth-5 waves-effect waves-light btn-large">Se connecter</a>
          </div>
        </div>
    </div>
  </div>
  <div id="credit">Photo by <a href="https://www.flickr.com/photos/mtgf/">mtgf</a></div>
{% endblock %}
