{% extends "page_structure.html" %}

{% block currentTitle %}
  {% if manage == True %}
  Mes annonces
  {% else %}
  Liste des annonces
  {% endif %}
{% endblock %}

{% block searchSpace %}
  {% if not manage %}
  <form class="navbar-form navbar-left" role="search"  action="/filterCategory" method="POST">
    <select name="category" class="form-control">
      {% for category in categories %}
        <option value="{{category}}"
          {% if category != -1 and categoryStr == category %}selected="selected"{% endif %}>
          {{category}}
        </option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-blue">GO</button>
  </form>
  {% endif %}
{% endblock %}

{% block script %}
  {{ block.super }}
  <script>
    $(function() {
      $('#removeModal').on('show.bs.modal', function (event) {
        console.log("moi");
        var button = $(event.relatedTarget) 
        var recipient = button.data('idad')
        var modal = $(this)
        console.log("pouet");
        console.log(recipient);
        {% if manage %}
        modal.find('a').attr("href", "/delete/" + recipient);
        {% else %}
        modal.find('a').attr("href", "/report/" + recipient);
        {% endif %}
      });
    });
  </script>
{% endblock %}

{% block content %}

{% if manage %}
  <h2>Mes annonces</h2>
{% else %}
  <h2>Prendre un meuble {% if category != -1 %}({{categoryStr}}){% endif %}</h2>
{% endif %}

  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{% if manage %}Suppression d'{% else %}Signaler {% endif %}une annonce</h4>
        </div>
        <div class="modal-body">
          Etes-vous sûr de vouloir {% if manage %}supprimer{% else %} signaler {% endif %} cette annonce ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <a href="/{%if manage %}delete{% else %}report{% endif %}/"class="btn btn-danger">Confirmer</a>
        </div>
      </div>
    </div>
  </div>



{% if ads|length != 0 %}
  {% if manage %}
    <a href="/create" class="btn-large">Créez une nouvelle annonce !</a>
    <hr />
  {% endif %}

  {% for ad in ads %}
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <span class="thumbnail">
          <img src="/photo/{{ad.key.urlsafe}}" />
        </span>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-9 adTitle"><h4>{{ad.title}}</h4></div>
          <div class="col-md-2">
            <div class="btn-group">
              {% if manage %}
                <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="/edit/{{ad.key.urlsafe}}">Editer l'annonce</a>
                  </li>
                  <li class="divider"></li>
                  <li><a data-toggle="modal" data-target="#removeModal" data-idad="{{ad.key.urlsafe}}">Supprimer l'annonce</a></li>
                </ul>
              {% else %}
                <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Contacter l'anonceur <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="mailto:{{ad.email}}?Subject=[SWOPIT] {{ad.title}}" target="_blank">
                      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                      {{ad.email}}
                    </a>
                  </li>
                  {% if ad.displayPhone %}
                  <li>
                    <a href="#"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    {{ad.phone}}</a>
                  </li>
                  {% endif %}
                  <li class="divider"></li>
                  {% if root %}
                  <li>
                    <a href="/edit/{{ad.key.urlsafe}}">Editer l'annonce</a>
                  </li>
                  {% endif %}
                  <li><a data-toggle="modal" data-target="#removeModal" data-idad="{{ad.key.urlsafe}}">Signaler un abus</a></li>
                </ul>
              {% endif %}
            </div>
          </div>
          <div class="col-md-12">{{ad.info}}</div>
        </div>
        </div>
    </div>
    <hr />
  {% endfor %}


  <nav class="text-center">
    <ul class="pagination">
      <li {%if current_page == 1 %} class="disabled" {% endif %} >
        <a {%if current_page != 1 %}href="/{% if manage %}manage{%else%}list{%endif%}/{{current_page|add:"-2"}}{% if category != -1 and not manage %}/{{category}}{% endif %}"{% endif %} aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for i in pages %}
        {% if current_page != i %}
          <li><a href="/{% if manage %}manage{%else%}list{%endif%}/{{i|add:"-1"}}{% if category != -1 and not manage %}/{{category}}{% endif %}">{{i}}</a></li>
        {% else %}
          <li class="active"><a href="#!">{{i}}</a></li>
        {% endif %}
      {% endfor %}
      <li {%if current_page == pages|length %} class="disabled" {% endif %} >
        <a {%if current_page != pages|length %}href="/{% if manage %}manage{%else%}list{%endif%}/{{current_page}}{% if category != -1 and not manage %}/{{category}}{% endif %}"{% endif %} aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

{% else %}
  Il n'y a pas d'annonce disponible. <br />
  <a href="/create" class="btn-large">Créez votre annonce !</a>
{% endif %}

{% endblock %}3