{% extends "page_structure.html" %}

{% block currentTitle %}Liste des annonces{% endblock %}

{% block searchSpace %}
  <form class="navbar-form navbar-left" role="search"  action="/filterCategory" method="POST">
    <select name="category" class="form-control">
      {% for category in categories %}
        <option value="{{category}}"
          {% if category != -1 and categoryStr == category %}selected="selected"{% endif %}>
          {{category}}
        </option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-blue">GO</button>
  </form>
{% endblock %}
              

{% block content %}

<h2>Prendre un meuble {% if category != -1 %}({{categoryStr}}){% endif %}</h2>


{% if ads|length != 0 %}

  {% for ad in ads %}

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <span class="thumbnail">
          <img src="/photo/{{ad.key.urlsafe}}" />
        </span>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-9 adTitle"><h4>{{ad.title}}</h4></div>
          <div class="col-md-2">
            <div class="btn-group">
              <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Contacter l'anonceur <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="mailto:{{ad.email}}?Subject=[SWOPIT] {{ad.title}}" target="_blank">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    {{ad.email}}
                  </a>
                </li>
                {% if ad.displayPhone %}
                <li>
                  <a href="#"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                  {{ad.phone}}</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="col-md-12">{{ad.info}}</div>
        </div>
        </div>
    </div>
    <hr />
  {% endfor %}


  <nav class="text-center">
    <ul class="pagination">
      <li {%if current_page == 1 %} class="disabled" {% endif %} >
        <a {%if current_page != 1 %}href="/list/{{current_page|add:"-2"}}{% if category != -1 %}/{{category}}{% endif %}"{% endif %} aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for i in pages %}
        {% if current_page != i %}
          <li><a href="/list/{{i|add:"-1"}}{% if category != -1 %}/{{category}}{% endif %}">{{i}}</a></li>
        {% else %}
          <li class="active"><a href="#!">{{i}}</a></li>
        {% endif %}
      {% endfor %}
      <li {%if current_page == pages|length %} class="disabled" {% endif %} >
        <a {%if current_page != pages|length %}href="/list/{{current_page}}{% if category != -1 %}/{{category}}{% endif %}"{% endif %} aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

{% else %}
  Il n'y a pas d'annonce disponible. <br />
  <a href="/create" class="waves-effect waves-light btn-large">Créez votre annonce !</a>
{% endif %}

{% endblock %}3