{% extends "page_structure.html" %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
{% endblock %}

{% block content %}
<h2>Connexion</h2>
<div class="row">
  <form class="form col-md-6 col-md-offset-3" action= "/login" method="POST">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control"  value="{{ username }}" name="username"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password"/>   
      </div>
      <div class="submitBlock">
        <button type="submit" class="btn btn-blue">GO</button>
      </div>
    </form>
</div>
<div class="text-center">
  <a href="/forget">Mot de passe oublié ?</a> / <a href="/signup">S'inscrire ?</a>
</div>
{% endblock %}
