{% extends "page_structure.html" %}

{% block content %}
<h2>Votre nouveau mot de passe</h2>
<div class="row">
  <form class="form col-md-6 col-md-offset-3" method="POST">
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password"/>
      </div>
      <div class="submitBlock">
        <button type="submit" class="btn btn-blue">M'envoyer un email</button>
      </div>
    </form>
</div>
<div class="text-center">
  <a href="/login">Se connecter ?</a> / <a href="/signup">S'inscrire ?</a>
</div>
{% endblock %}
