{% extends "page_structure.html" %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
{% endblock %}

{% block content %}
  {% if userEdition %}
    <h2>Mon compte</h2>
  {% else %}
    <h2>Créer ton compte</h2>
  {% endif %}
  <form method="POST">
    <div class="row">

      {% if failed %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Une erreur est survenue :</span>
          {% if failed.alreadyUsed %}
            L'email est déjà utilisé.
          {% else %}
            Veuillez vérifier vos informations.
          {% endif %}
        </div>
      {% endif %}

      <div class="col-md-6">
        <div class="form-group {%if failed.error_number_card %}has-error{% endif %}">
          <label for="number_card">Numero de carte étudiante</label>
          <input type="text" class="form-control" value="{% if failed %}{{failed.number_card}}{% else %}{{ userEdition.number_card }}{% endif %}" name="number_card" />
        </div>    
        <div class="form-group {%if failed.error_lastname %}has-error{% endif %}">
          <label for="lastname">Nom</label>
          <input type="text" class="form-control" value="{% if failed %}{{failed.lastname}}{% else %}{{ userEdition.lastname }}{% endif %}" name="lastname" />
        </div>
        <div class="form-group {%if failed.error_firstname %}has-error{% endif %}">
          <label for="firstname">Prénom</label>
          <input type="text" class="form-control" value="{% if failed %}{{failed.firstname}}{% else %}{{ userEdition.firstname }}{% endif %}" name="firstname" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group {%if failed.error_email %}has-error{% endif %}">
          <label for="email">Addresse Email</label>
          <input type="text" class="form-control" value="{% if failed %}{{failed.email_address}}{% else %}{{ userEdition.email_address }}{% endif %}" name="email" />
        </div>
        <div class="form-group {%if failed.error_password %}has-error{% endif %}">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" name="password" />
        </div>
        <div class="form-group {%if failed.error_phone %}has-error{% endif %}">
          <label for="phone">Numéro de téléphone</label>
          <input type="text" class="form-control" value="{% if failed %}{{failed.phone}}{% else %}{{ userEdition.phone }}{% endif %}" name="phone" />
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" {% if userEdition.displayPhone == False %}checked=checked{% endif %} name="displayNumber"> Masquer le numéro de téléphone dans l'annonce
          </label>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="submitBlock">
        {% if userEdition %}
          <button type="submit" class="btn btn-blue">Editier</button>
        {% else %}
          <button type="submit" class="btn btn-blue">S'inscrire</button>
        {% endif %}
      </div>
    </div>
  </form>

<div class="text-center">
  <a href="/login">Se connecter ?</a>
</div>
{% endblock %}
