@font-face {
    font-family: teamspir;
    src: url(teamspir.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url("degrad.png");
  background-repeat: repeat;
}

h1, h1 a, h1 a:hover {
  color: #92d050;
  text-decoration: none;
  font-family: teamspir;
}

h1 span {
  color: #009999;
  margin-left: 65px;
}

#content {
  margin-bottom: 27px;
  background-color: rgba(157, 249, 37, 0.5);
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #04aaa4;
  border: 1px solid #8cc23c;
  z-index: 10;
}

.circle.green {
  background-color: #8cc23c;
  border: 1px solid #04aaa4;  
}

.circle a {
  line-height: 200px;
  color: white;
  font-size: 25px;
}

h2 {
  text-align: center;
  color: #1ba599 !important;
  font-family: 'Lobster', cursive !important;
}

h4 {
  font-family: 'Lobster', cursive !important;
}

.col-md-6:nth-of-type(2) {
  border-left: 2px solid #1ba599;
}

.submitBlock {
  margin: 10px 0;
  text-align: center;
}

.btn.btn-blue {
  color: white;
  background-color: #1ba599;
  border-color: #ccc;
  border-radius: 50%;
  font-size: 15px;
  font-family: 'Lobster', cursive !important;
}

.container {
  padding: 0 !important;
}

.blueTitle {
  color: #92d050;
}

.greenTitle {
  color: #009999;
}

footer {
  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

#wrapper > h1 {
  margin: 0;
  padding: 30px;
}

footer a {
 color: gray;
}

.containerContent {
  padding: 5px 20px;
}