
body {
	text-align: center;
} 

h1 {
	font-size: 400%;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

svg, .circle {
  display: inline-block;
  vertical-align: middle;
}

svg {
  max-height: 65%;
  max-width: calc(90% - 400px); 
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    svg {
      display: none;
    }
}
