
body {
	text-align: center;
} 

h1 {
  font-size: 500%;
  font-weight: normal;
  margin: 0;
}

h1 > span {
  margin-left: 240px;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

svg, .circleParent {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.circle {
  position: absolute;
  right: -160px;
  bottom: 0;
  width: 200px;
  height: 200px;
}

.circleParent:nth-child(4) .circle {
  right: inherit;
  left: -160px;
}


.circle a {
  font-family: teamspir;
  font-size: 40px;
}

.circle a {
  line-height: 200px;
}

svg {
  max-height: 75%;
  max-width: calc(90% - 400px); 
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {

    h1 > span {
      margin-left: 0;
    }

    .circleParent {
      display: block;
      text-align: center;
      margin-top: 10px;
    }

    .circle {
      position: relative;
      top: 15px;
      display: inline-block;
      left: 0 !important;
    }

    svg, #credit {
      display: none;
    }
}
