html {
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background: linear-gradient( rgba(25,29,34,1), rgba(25,29,34,0) ), url("background.jpg") no-repeat;
	background-size: cover;
	color: white;
}

body > div {
	margin-top: 5%;
} 

#content {
	width: 100%;
}

h1 {
	font-size: 400%;
}

.row {
	padding-top: 5%;
}

#credit {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px;
}